@charset "UTF-8";
header {
	margin-bottom:2rem;
	box-shadow: 0px 5px 15px 5px #e1e1e1;
}
body {
	background-color: #f7f7f7;
}

.bg-gray:hover {
  color:darkseagreen;
}

.bg-gray {
	background-color: dimgray;
	color:#e1e1e1;
	padding-left:1rem;
	padding-top:1rem;
  transition: all .17s ease-in;
}
a {
	text-decoration: none;
	color: inherit;	
	transition: all .17s ease-in;
}
a:hover {
	color:darkseagreen
}